---
layout: default
---
<div class="container" id="container_2">
      {% include _partial/logo_title.html %}
      <div class="slide_img gray" id="slide_img_2"></div>
      <div class="title_box">
        <h2 class="main_title">
          <span>NEWS</span>
          <div class="phone_message">
            <span>What I saw and heard</span>
            <span>Details&nbsp;<i class="fa fa-paper-plane" aria-hidden="true"></i></span>
          </div>
        </h2>
      </div>
      <div class="content prose_content" id="content_2">
        <div class="post_list_false" id="post_list_false_2">
          {% for post in site.categories.prose %}
          <li>
            <div class="post_text">
              <div>
              <div class="post_message">
                <span><time datetime="{{ post.date | date:"%Y-%m-%d" }}"><span class="day">{{ post.date | date:"%m`%d" }}</span><br>
                <span class="year">{{ post.date | date:"%Y" }}</span>
                </time></span>
              </div>
              <div class="phone_post_message">
                <span>
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">
                    <span class="day">{{ post.date | date:"%d" }}</span>
                    <span class="year">{{ post.date | date:"%Y.%m" }}</span>
                 </time>
                </span>
              </div>
             <!--  <div style="color: #000"> {{forloop.index}}</div> -->
              <span class="post_title"><a class="post-link" href="{{ post.url }}" data-post-href="{{ post.url }}">{{ post.title}}</a></span>
              <span class="details">Details&nbsp;<i class="fa fa-paper-plane" aria-hidden="true"></i></span>
              </div>
              <div>
                <i class="more_icon fa fa-plus" aria-hidden="true"></i>
              </div>
              <div class="post-excerpt" itemprop="description">
                <!-- <p class="yl">{{ post.description }}</p> -->
                <!--<p class="yl">{{ post.content | strip_html | truncatewords: 0 }}</p>-->
                <!--<p class="ydqw"><a href="{{ post.url }}">阅读全文...</a></p>-->
              </div>
            </div>
          </li>
          {% endfor %}
        </div>
      </div>
<svg version="1.1" id="demo2"  class="svg_font_new"  viewBox="0 0 5416 120" >
<g>
  <rect x="0" y="0" class="st4" width="1608" height="150" fill="none"/>
  <path class="st5" id="n1" d="M88,83c0,0,0,11,3,17s5,6,5,6s0,1,4-6s3-6,4-10s-1-4-1-4s2,14,4,17s3,8,7-3s2-17,0-19" fill="none"/>
  <path class="st5" id="n2" d="M123,80c0,0,5,1,4,3" fill="none"/>
  <path class="st5" id="n3" d="M125,91c0,0,0,0,0,6s0,10,0,10" fill="none"/>
  <path class="st5" id="n4" d="M148,88c0,0-21-7-4,7s-4,12-4,12s-10,1-3-4" fill="none"/>
  <path class="st5" id="n5" d="M170,88c0,0,2-3-3-2s-10,4-11,9s0,9,4,9s9-3,12-7s5-10,3-16s-2-7-2-7l-2,38" fill="none"/>
  <path class="st5" id="n6" d="M189,89c0,0-7,3-7,8s3,10,11,7s10-10,10-10S200,83,189,89z" fill="none"/>
  <path class="st5" id="n7" d="M208,89c0,0,4,5,5,10s1,6,1,6s3-15,6-16s6-10,5,8s0,8,0,8s2-15,5-18s10,17,8,18s-2,2-2,2" fill="none"/>
  <path class="st5" id="n8" d="M263,80c0,0,6,2,5,3" fill="none"/>
  <path class="st5" id="n9" d="M266,91c0,0,2,15,0,16" fill="none"/>
  <path class="st5" id="n10" d="M275,86c0,0,4,2,5,5s0,14,0,14s4-20,8-18s5,19,4,20" fill="none"/>
  <path class="st5" id="n11" d="M316,87c0,0,10,1,13,0s11-2,6-5" fill="none"/>
  <path class="st5" id="n12" d="M325,70c0,0,1,14,1,27s1,16,3,6" fill="none"/>
  <path class="st5" id="n13" d="M343,74c0,0,1,24,2,28s1,5,1,5" fill="none"/>
  <path class="st5" id="n14" d="M346,94c0,0,7-15,8,0s0,11,0,11" fill="none"/>
  <path class="st5" id="n15" d="M361,99c0,0,16,0,18-6s-8-7-14-2s-4,11,7,12s7-1,7-1" fill="none"/>
  <path class="st5" id="n16" d="M407,86c0,0,0,9,4,10s10-6,9-9s2,13,0,22s-7,15-9,9" fill="none"/>
  <path class="st5" id="n17" d="M435,88l-7,8c0,0-3,8,7,7s12-3,13-7s-5-12-10-9S435,88,435,88z" fill="none"/>
  <path class="st5" id="n18" d="M456,82c0,0-1,15,0,18s1,12,7,0s5-13,5-13s-1,14,2,18s3,7,3-2" fill="none"/>
  <path class="st5" id="n19" d="M479,86c0,0,5,3,6,7s0,10,0,10s10-30,11-8s0,10,0,10" fill="none"/>
  <path class="st5" id="n20" d="M520,93c0,0,0-8-6-6s-11,3-11,6s-2,6,3,7s10-3,10-3l2-5c0,0,0,1-1,11s-2,16-7,17s-4,0-4,0" fill="none"/>
  <path class="st5" id="n21" d="M546,79c0,0,3,3,5,3" fill="none"/>
  <path class="st5" id="n22" d="M549,91c0,0,1,2,0,6s-2,7-1,8" fill="none"/>
  <path class="st5" id="n23" d="M572,88c0,0-19-7-5,7s3,12-4,12s-6-2-3-4" fill="none"/>
  <path class="st5" id="n24" d="M615,91c0,0-6-8-12-2s-4,5-4,6s2,8,2,8s2,6,8-3s6-7,6-7s-2-2,0,4s2,8,4,10" fill="none"/>
  <path class="st5" id="n25" d="M638,88c0,0-16-6-7,5s15,14,0,14s-3-5-3-5" fill="none"/>
  <path class="st5" id="n26" d="M667,82c0,0-1,5,0,12s1,20,8,6s5-13,5-13s-1,6,0,11s5,18,5,7" fill="none"/>
  <path class="st5" id="n27" d="M690,85c0,0,2,0,5,6s2,12,2,12s2-14,7-14s4,14,4,14v4" fill="none"/>
  <path class="st5" id="n28" d="M730,93c0,0,0-8-6-6s-11,1-11,6s2,10,2,10s3,4,9-3s6-5,6-5s-2,1,0,6s3,6,3,6h1" fill="none"/>
  <path class="st5" id="n29" d="M737,86c0,0,2,4,10,2s12-4,10-6" fill="none"/>
  <path class="st5" id="n30" d="M745,70c0,0,4,13,3,23s-1,18,1,12" fill="none"/>
  <path class="st5" id="n31" d="M762,87c0,0,11,1,16-1s1-3,1-4" fill="none"/>
  <path class="st5" id="n32" d="M771,70c0,0,2,5,2,9s-1,26-1,26s0,8,2,0" fill="none"/>
  <path class="st5" id="n33" d="M787,85c0,0,5,1,6,8s0,14,0,14s3-22,12-21" fill="none"/>
  <path class="st5" id="n34" d="M828,92c0,0-4-8-10-5s-7,4-7,9s5,12,11,4c1.68-2.24,2.89-3.86,3.77-5.02C828,92,828,92,828,92z" fill="none"/>
  <path class="st5" id="n35" d="M828,96c0,0-2-2,0,4s3,7,3,7" fill="none"/>
  <path class="st5" id="n36" d="M848,92c0,0-13-4-12,5s18,4,20,3s2-4,0-3" fill="none"/>
  <path class="st5" id="n37" d="M862,87c0,0,5,1,12,0s9-3,7-5" fill="none"/>
  <path class="st5" id="n38" d="M870,70c0,0,2,2,2,8s-1,24-1,26s2,9,3,0" fill="none"/>
  <path class="st5" id="n39" d="M888,80c0,0,5,1,5,2" fill="none"/>
  <path class="st5" id="n40" d="M891,91c0,0,0,2,0,9s0,7,0,7" fill="none" fill="none"/>
  <path class="st5" id="n41" d="M900,87c0,0,10,9,10,17s0,3,0,3s6-13,9-16s3-4,2-6" fill="none"/>
  <path class="st5" id="n42" d="M927,100c0,0,9-1,13-3s8-4,3-8s-14,1-15,6s13,11,17,9s3-3,3-3" fill="none"/>
  <path class="st5" id="n43" d="M988,93c0,0,1-8-7-6s-9,3-9,6s1,10,3,11s9-3,11-7s2-2,2-2s-1,1,1,5s4,9,3,9" fill="none"/>
  <path class="st5" id="n44" d="M1011,89l-4-3c0,0-16-3,0,9s-2,13-7,12s1-5,1-5" fill="none"/>
  <path class="st5" id="n45" d="M1052,80c0,0-4-13-5,2s0,33,0,33s2,10-4,2" fill="none"/>
  <path class="st5" id="n46" d="M1038,91c0,0,12-1,14-2s6-1,6-1" fill="none"/>
  <path class="st5" id="n47" d="M1062,86c0,0,6,3,6,8s-1,13-1,13s1-13,6-16s4-6,7-5" fill="none"/>
  <path class="st5" id="n48" d="M1086,80c0,0,3,0,4,2s0,2,0,2" fill="none"/>
  <path class="st5" id="n49" d="M1088,91c0,0-1,1,0,5s0,11,0,11" fill="none"/>
  <path class="st5" id="n50" d="M1097,87c0,0,8,4,8,9s3,11,3,11s2-8,5-11s8-11,6-12" fill="none"/>
  <path class="st5" id="n51" d="M1134,88c0,0-7,4-8,8s-1,7,4,8s8,0,12-4s7-9,0-12S1134,88,1134,88z" fill="none"/>
  <path class="st5" id="n52" d="M1159,75c0,0-3,1-4,6s-2,13-1,15c0,0-2,17,10,7" fill="none"/>
  <line class="st6" id="n53" x1="1171" y1="80" x2="1175" y2="82" fill="none"/>
  <path class="st6" id="n54" d="M1173,91c0,0-1,3,0,7s0,8,0,8" fill="none"/>
  <path class="st6" id="n55" d="M1180,87c0,0,15,1,18-1s4-4,2-4" fill="none"/>
  <path class="st6" id="n56" d="M1188,70c0,0,3,6,3,9s0,15,0,15s-4,20,1,10" fill="none"/>
  <path class="st6" id="n57" d="M1207,87c0,0,0,11,5,10s7-6,7-10s4,20,0,27s-7,4-7,4" fill="none"/>
  <path class="st6" id="n58" d="M1247,79c0,0,4,5,6,3" fill="none"/>
  <path class="st6" id="n59" d="M1250,91c0,0-2,16,0,15" fill="none"/>
  <path class="st6" id="n60" d="M1259,85c0,0,7,10,7,15s0-3,4-9s5-5,6,5s0,10,0,10" fill="none"/>
  <path class="st6" id="n61" d="M1302,87c0,0,9,1,13,0s8-3,6-5" fill="none"/>
  <path class="st6" id="n62" d="M1309,70c0,0,3,5,3,9s-2,25-2,25s1,9,4,0" fill="none"/>
  <path class="st6" id="n63" d="M1329,73c0,0-1,9,0,11s1,19,2,20" fill="none"/>
  <path class="st6" id="n64" d="M1331,93c0,0,4-5,5-4s4,6,4,11s0,4,0,4" fill="none"/>
  <path class="st6" id="n65" d="M1346,100c0,0,10-1,14-4s1-11-4-9s-19,11-2,16s12-3,12-3" fill="none"/>
  <path class="st6" id="n66" d="M1391,100c0,0,12-2,15-4s2-10-5-9s-10,9-10,9s5,7,8,7s8,3,10,0" fill="none"/>
  <path class="st6" id="n67" d="M1422,74c0,0-3,5-4,11s0,9,0,11s1,6,2,8s3,3,6,1s3-1,3-1" fill="none"/>
  <path class="st6" id="n68" d="M1448,89c0,0-4-8-10,0s-5,11-5,11s3,7,7,4s10-6,12-12s0-17-2-18s-3,32-1,34s0,2,0,2" fill="none"/>
  <path class="st6" id="n69" d="M1458,100c0,0,13-3,15-4s3-4,3-4s-6-8-11-5s-9,15,2,17s11-2,11-2" fill="none"/>
  <path class="st6" id="n70" d="M1483,86c0,0,2-4,5,6s1,16,1,16s2-14,5-16s6-6,6-6" fill="none"/>
  <path class="st6" id="n71" d="M1513,74c0,0-5,9-5,13s-1,12,0,13s0,13,10,4" fill="none"/>
  <path class="st6" id="n72" d="M1525,87c0,0,1,10,4,10s10-6,8-11s5,28-3,32s-5,0-5,0" fill="none"/>
</g>
</svg>
<div class="btnGroup">
  <span class="prose_prev prev">PREV</span>
  <span class="prose_next next">NEXT</span>
</div>
</div>
<script type="text/javascript" src="../source/js/jquery.js"></script>
<script type="text/javascript" src="../source/js/TweenMax.min.js"></script>
<script type="text/javascript" src="../source/js/DrawSVGPlugin.min.js"></script>
<script type="text/javascript" src="../source/js/tween.js"></script>
<script type="text/javascript" src="../source/js/animation.js"></script>
<script type="text/javascript">
function newWriteAnimation(){
var demo2 = document.getElementById("demo2");
var tl = new TimelineMax();
var ease = Linear.easeNone;
TweenMax.set(demo2, {autoAlpha:1});
TweenMax.set("path", {drawSVG:0, stroke:"#000"});
TweenMax.set("line", {drawSVG:0, stroke:"#000"});

tl.to("#n1", 0.25, {drawSVG:true, ease:ease});
tl.to("#n2", 0.25, {drawSVG:true, ease:ease});
tl.to("#n3", 0.25, {drawSVG:true, ease:ease});
tl.to("#n4", 0.25, {drawSVG:true, ease:ease});
tl.to("#n5", 0.25, {drawSVG:true, ease:ease});
tl.to("#n6", 0.25, {drawSVG:true, ease:ease});
tl.to("#n7", 0.25, {drawSVG:true, ease:ease});
tl.to("#n8", 0.25, {drawSVG:true, ease:ease});
tl.to("#n9", 0.25, {drawSVG:true, ease:ease});
tl.to("#n10", 0.25, {drawSVG:true, ease:ease});
tl.to("#n11", 0.25, {drawSVG:true, ease:ease});
tl.to("#n12", 0.25, {drawSVG:true, ease:ease});
tl.to("#n13", 0.25, {drawSVG:true, ease:ease});
tl.to("#n14", 0.25, {drawSVG:true, ease:ease});
tl.to("#n15", 0.25, {drawSVG:true, ease:ease});
tl.to("#n16", 0.25, {drawSVG:true, ease:ease});
tl.to("#n17", 0.25, {drawSVG:true, ease:ease});
tl.to("#n18", 0.25, {drawSVG:true, ease:ease});
tl.to("#n19", 0.25, {drawSVG:true, ease:ease});
tl.to("#n20", 0.25, {drawSVG:true, ease:ease});
tl.to("#n21", 0.25, {drawSVG:true, ease:ease});
tl.to("#n22", 0.25, {drawSVG:true, ease:ease});
tl.to("#n23", 0.25, {drawSVG:true, ease:ease});
tl.to("#n24", 0.25, {drawSVG:true, ease:ease});
tl.to("#n25", 0.25, {drawSVG:true, ease:ease});
tl.to("#n26", 0.25, {drawSVG:true, ease:ease});
tl.to("#n27", 0.25, {drawSVG:true, ease:ease});
tl.to("#n28", 0.25, {drawSVG:true, ease:ease});

tl.to("#n29", 0.25, {drawSVG:true, ease:ease});
tl.to("#n30", 0.25, {drawSVG:true, ease:ease});
tl.to("#n31", 0.25, {drawSVG:true, ease:ease});
tl.to("#n32", 0.25, {drawSVG:true, ease:ease});
tl.to("#n33", 0.25, {drawSVG:true, ease:ease});
tl.to("#n34", 0.25, {drawSVG:true, ease:ease});
tl.to("#n35", 0.25, {drawSVG:true, ease:ease});
tl.to("#n36", 0.25, {drawSVG:true, ease:ease});
tl.to("#n37", 0.25, {drawSVG:true, ease:ease});
tl.to("#n38", 0.25, {drawSVG:true, ease:ease});
tl.to("#n39", 0.25, {drawSVG:true, ease:ease});
tl.to("#n40", 0.25, {drawSVG:true, ease:ease});
tl.to("#n41", 0.25, {drawSVG:true, ease:ease});
tl.to("#n42", 0.25, {drawSVG:true, ease:ease});
tl.to("#n43", 0.25, {drawSVG:true, ease:ease});
tl.to("#n44", 0.25, {drawSVG:true, ease:ease});
tl.to("#n45", 0.25, {drawSVG:true, ease:ease});
tl.to("#n46", 0.25, {drawSVG:true, ease:ease});
tl.to("#n47", 0.25, {drawSVG:true, ease:ease});
tl.to("#n48", 0.25, {drawSVG:true, ease:ease});
tl.to("#n49", 0.25, {drawSVG:true, ease:ease});
tl.to("#n50", 0.25, {drawSVG:true, ease:ease});
tl.to("#n51", 0.25, {drawSVG:true, ease:ease});
tl.to("#n52", 0.25, {drawSVG:true, ease:ease});
tl.to("#n53", 0.25, {drawSVG:true, ease:ease});
tl.to("#n54", 0.25, {drawSVG:true, ease:ease});
tl.to("#n55", 0.25, {drawSVG:true, ease:ease});
tl.to("#n56", 0.25, {drawSVG:true, ease:ease});
tl.to("#n57", 0.25, {drawSVG:true, ease:ease});
tl.to("#n58", 0.25, {drawSVG:true, ease:ease});
tl.to("#n59", 0.25, {drawSVG:true, ease:ease});
tl.to("#n60", 0.25, {drawSVG:true, ease:ease});
tl.to("#n61", 0.25, {drawSVG:true, ease:ease});
tl.to("#n62", 0.25, {drawSVG:true, ease:ease});
tl.to("#n63", 0.25, {drawSVG:true, ease:ease});
tl.to("#n64", 0.25, {drawSVG:true, ease:ease});
tl.to("#n65", 0.25, {drawSVG:true, ease:ease});
tl.to("#n66", 0.25, {drawSVG:true, ease:ease});
tl.to("#n67", 0.25, {drawSVG:true, ease:ease});
tl.to("#n68", 0.25, {drawSVG:true, ease:ease});
tl.to("#n69", 0.25, {drawSVG:true, ease:ease});
tl.to("#n70", 0.25, {drawSVG:true, ease:ease});
tl.to("#n71", 0.25, {drawSVG:true, ease:ease});
tl.to("#n72", 0.25, {drawSVG:true, ease:ease});
}

function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    //根据userAgent判断是否是手机
    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }
     var screen_width = window.screen.width;
     var screen_height = window.screen.height;   

     //根据屏幕分辨率判断是否是手机
     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }
     return mobile_flag;
}
$(document).ready(function () {
    var mobile_flag = isMobile();
    mobile_flag === false ?  newWriteAnimation() : console.log('移动端不执行'); 
});
</script>