  {% include _partial/head.html %}
  <body>
   <div class="">
      <header>
          {% include _partial/header.html %}
      </header>
      <div>
        {{ content }}
      </div>
    </div>
  </body>
<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script> -->
<script type="text/javascript" src="../source/js/jquery.js"></script>
<script type="text/javascript" src="../source/js/TweenMax.min.js"></script>
<script type="text/javascript" src="../source/js/DrawSVGPlugin.min.js"></script>
<script type="text/javascript" src="../source/js/tween.js"></script>
<script type="text/javascript" src="../source/js/animation.js"></script>
<!-- <script type="text/javascript" src="../source/js/boygirls.js"></script> -->
<script type="text/javascript" src="../source/js/index.js"></script>
<script type="text/javascript">

</script>
</html>
