{% include _partial/post/head.html %}
  <body>
    <div class="container" id="container">
      <header class="header">
  		<h1>{{page.title}}</h1>
  	  </header>
      <div class="content">
      	{{ content }}
      </div>
      <footer>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2126846"></script>
        <!-- UY END -->
      </footer>
    </div>
  </body>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/solarized_dark.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
 </html>
