<div class="header">
	<div class="poster_img gray">
		<!--<img class="poster_img_lala gray" src="/source/img/index_left.jpeg">-->
	</div>
	<div class="header_cover">
		<div class="nav">
			<ul class="nav_ul">
				<li data-subtitle="首页"><a href="/"><i class="fa fa-home"></i></a></li>
				<li data-subtitle="技术"><a href="/"><i class="fa fa-html5"></i></a></li>
				<li data-subtitle="瞎扯"><a href="/"><i class="fa fa-heart"></i></a></li>
				<li data-subtitle="联系"><a href="/"><i class="fa fa-comments"></i></a></li>
				<li data-subtitle="夜间模式"><a href="/"><i class="fa fa-moon-o"></i></a></li>
			</ul>
		</div>
	</div>
</div>