html,body,div,p,span,img,a,ol,ul,li,table,caption,thead,tbody,tfoot,th,td,tr{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration:none;
	font-family:"Trebuchet MS","Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}
html{
	font-size: 62.5%;
	font-family: "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
}
body{
	font-family: "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
	font-weight: inherit;
    font-style: inherit;
    font-family: inherit
}
a{
	color: #7292b1;
}
.header{
	position: relative;
	width:100%;
	background-image:url(../img/header_image.jpg);
	background-color: #6fa9d0;
	background-position:50% 50%;
	background-size:cover;
	
}
	.header_cover{
		position: relative;
		background-color:rgba(0,0,0,0.2);
		height: 100px;
		padding: 12rem 1rem; 
	}
		.head_title{
			font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			font-size: 1.6rem;
			color:#fff;
			text-align: center;
			text-shadow: 0 2px 1px rgba(0, 0, 0, 0.67) !important;
		}
.nav{
	position: absolute;
	right:0px;
	bottom:0px;
	height:50px;
}
		.nav > ul > li {
			float:left;
			font-size: 1.8rem;
			color:#fff;
			width:100px;
		}
.content{
	font-size: 1.6rem;
}
	.post_list{
		width: 60%;
		margin: 0 auto;
	}
		.post_list > li {
			margin:2rem 0;
			border-bottom: 1px solid #EDEDED; 
		}	
			.post_title{
				margin-bottom:2rem; 
			}	.post_title > h2 {
					margin-bottom:0; 
				}
				.post_message{
					margin-top:0.5rem; 
					font-size: 1.2rem;
					color:#999999;
				}
				.post-excerpt{
					margin-bottom:2rem;
				}
					.yl{
						text-align:justify;
						text-justify:inter-word; 
					}
					.ydqw{
						margin-top:0.5rem; 
					}
					.ydqw > a {
						 color:#9EBCD8;
					}
