/**
 * css reset
 */
body{
    line-height:1.4;
    color:#333;
    font-size: 12px;
}
input,textarea,select{
    font-size:100%;    
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
ul,li,ol{
    padding-left:0; 
    list-style-type:none;
}
/*image with no-border*/
img{border:0;}
a{text-decoration: none;}
/**
 * 
 */
html{
	font-size: 62.5%;
	height:100%;
}
@font-face {
    font-family:'Giorgios';  /*给自定义字体命名*/
    src: url('/source/css/ziti/Giorgio.eot'); /* IE9 Compat Modes */
    src: url('/source/css/ziti/Giorgio.woff') format('woff'), /* Modern Browsers */
    url('./source/css/ziti/Giorgio.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./source/css/ziti/Giorgio.svg#weiui') format('svg'); /* Legacy iOS */
         font-weight: normal;
		 font-style: normal;
}
@font-face {
font-family:"bebas-neue";
src:url("/source/css/ziti/nav/nice2") format("woff2"),
url("/source/css/ziti/nav/nice.woff") format("woff"),
url("/source/css/ziti/nav/nice") format("opentype");
font-style:normal;font-weight:400;
}
html{
	height: 100%;
}
body{
    margin: 0;
    font:caption;
    color:#333;
    /*font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;*/
    font-family: "Arial", sans-serif;
    transition: background-color 1s;
}

.gray{
	-webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;  /* IE 6-9 */  
}
/*>479px*/
@media screen and (min-width:479px){
body{
	color: #fff;
	width: 100%;
	overflow-x: hidden;
}
.container{
	font-family: Giorgios, "Arial", sans-serif;
	position: absolute;
	width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slide_img{
	position: absolute;
    width: 100%;
    height: 100%;
}
#slide_img_1{
	background: url(/source/img/computerbg.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_2{
	background: url(/source/img/secai2.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_3{
	background:url(/source/img/computerbg2.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_4{
	background:url(/source/img/contact.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.slide_img_shade{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.mov{
	-webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.slide_current{
	 opacity: 1;
	 z-index: 1;
}
.opacity0{
	 opacity: 0;
}
.trx1{
	transform: translateX(-100%);
}
.trx2{
	transform: translateX(0);
}
.trx3{
	transform: translateX(100%);
}

.main_title{
	position: fixed;
	font-size: 20vh;
	margin-left: 1%;
	letter-spacing: 5px;
	font-weight: bold;
	color: #FFF;
	font-family: impact;
	line-height: 1;
	top: 2vh;
	/*border-bottom: 1px solid #484A40;*/
}
.main_title > span{
	width: 100%;
}
.bac_title{
	background: #ff4e00;
    position: fixed;
    width: 100%;
    z-index: -1;
    left: 0px;
    top: 11vh;
    height: 10vh;
}
.content{
	height: 100%;
	position: fixed;
	overflow: hidden;
}
.work_content{
	top: 28vh;
	left : calc(100vw - 1060px);
}
.prose_content{
	top: 28vh;
	left : calc(100vw - 1060px);
}
.book_content{
	top: 28vh;
	left : calc(100vw - 1325px);
}
.contact_content{
	width: 100%;
	top: 30vh;
}
.contact_list{
	float: left;
	width: 48%;
}
/*.kindle_box{
	position: absolute;
	height: calc(65vh + 64px);
	width: 300px;
	top: 140px;
	left:50%;
	margin-left: -150px;
	background: url(/source/img/kindle.png) no-repeat ;
	background-size: 100%;
}*/
.svg_font{
	position: fixed;
	top: 81vh;
	left: -50px;
}
.btnGroup{
    position: fixed;
    right: 20px;
    top: 92vh;
    font-size: 18px;
    letter-spacing: 8px;
}
.next , .prev{
	margin-left: 30px;
    transition: all 150ms linear 0s;
    cursor: pointer;
    float: left;
}
.zhx{
	 text-decoration:line-through; 
}
.next:hover, .next:active ,.prev:after, .prev:before  {
	transition: all 150ms linear 0s;
}
.next:after, .next:before, .prev:after, .prev:before  {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}
.next:hover:after, .next:hover:before , .prev:hover:after, .prev:hover:before   {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color: #fff;
	-webkit-transition: width 350ms ease-in-out;
	transition: width 350ms ease-in-out;
	width: 100%;
}
.post_list_false{
	width: 0;
	height: 0;
	display: none;
}
.work_list{
   width: 1060px;	
}
.prose_list{
   width: 1060px;
}
.book_list{
	width: 1325px;
}
.post_list{
	position: relative;
	float: left;
	right: 0px;
	transition: all 0.4s ease-in-out ;
	-o-transition: all 0.4s ease-in-out; 
	-moz-transition: all 0.4s ease-in-out ; 
	-webkit-transition: all 0.4s ease-in-out ;

}
.work_list > li{
    width: 265px;
    padding: 25px;
    height: calc(60vh - 64px);
	border-right:1px solid #000;
}
.prose_list > li{
	width: 265px;
    padding: 25px;
    height: calc(60vh - 64px);
    border-right:1px solid #000;
}
.book_list > li{
	width: 265px;
    height: calc(60vh - 64px);
    border-right:1px solid #000;
}
.post_img_box{
	position: absolute;
	width: 100%;
	height: 100%;
}
.post_img_box > img{
	width: 100%;
	height: 100%;
}
.book_post_text{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 25px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #fff;
}
.post_list > li{
	float: left;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.4s ease-in-out ;
	-o-transition: all 0.4s ease-in-out; 
	-moz-transition: all 0.4s ease-in-out ; 
	-webkit-transition: all 0.4s ease-in-out ;
}
.move_opacity{
	opacity: 0.4  !important;
}
.post_message{
	position: relative;
	width: 100%;
	font-size: 8vh;
	color: #333;
	line-height: 0.9;
	text-align:right;
}
/*.book_post_message{
	color: #fff;
}*/
.post_title{
	position: relative;
	display: block;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	margin-top:70px;
}
/*.book_post_title{
	color: #fff !important;
}*/
.post_title > a{
	font-size: 14px;
	color: #333;
	line-height: 10px;
	font-family: "Arial";
	font-weight: normal;
}
.more_icon{
	position: absolute;
	font-weight: normal !important;
	width: 14px;
	height: 14px;
	bottom: 15px;
	right: 15px;
	color: #828282;
}
.email{
	margin-left: 1%;
}
.email  h3{
	margin-top: 10px;
	font-size: 8vh;
}
.explain{
	font-size: 1.6vh;
}
.wechat_h3{
	font-size: 6vh !important;
}
}  
/*<479px*/
@media only screen and (max-width: 479px){



}
