/**
 * css reset
 */
body{
    line-height:1.4;
    color:#333;
    font-size: 12px;
}
input,textarea,select{
    font-size:100%;    
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
ul,li,ol{
    padding-left:0; 
    list-style-type:none;
}
/*image with no-border*/
img{border:0;}
a{text-decoration: none;}
/**
 * 
 */
html{
	font-size: 62.5%;
	height:100%;
}
@font-face {
    font-family:'Giorgios';  /*给自定义字体命名*/
    src: url('/source/css/ziti/Giorgio.eot'); /* IE9 Compat Modes */
    src: url('/source/css/ziti/Giorgio.woff') format('woff'), /* Modern Browsers */
    url('./source/css/ziti/Giorgio.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./source/css/ziti/Giorgio.svg#weiui') format('svg'); /* Legacy iOS */
         font-weight: normal;
		 font-style: normal;
}
@font-face {
font-family:"bebas-neue";
src:url("/source/css/ziti/nav/nice2") format("woff2"),
url("/source/css/ziti/nav/nice.woff") format("woff"),
url("/source/css/ziti/nav/nice") format("opentype");
font-style:normal;font-weight:400;
}
html{
	height: 100%;
}
body{
    margin: 0;
    font:caption;
    color:#333;
    /*font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;*/
    font-family: "Arial", sans-serif;
    transition: background-color 1s;
}
/*>479px*/
@media screen and (min-width:479px){
/*导航*/
.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}
.nav_open {
  visibility: visible;
}
.nav__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  position: relative;
  flex-basis: 25%;
  margin: 0;
  padding: 0;
}
.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0 0 20%;
  text-decoration: none;
  color: white;
  will-change: transform;
  transition: color 0.5s;
}
.nav__link:hover {
  color: black;
}
.nav__item-line {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.nav__link-content {
  position: relative;
  z-index: 3;
}

.nav__link-base {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  background-color: white;
  box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.2);
  will-change: transition;
  opacity: 0;
}
.nav__link:hover .nav__link-base {
  z-index: 2;
}
.nav__link-num {
  position: absolute;
  top: 12px;
  left: -24px;
  font-size: 16px;
  font-family: "bebas-neue", sans-serif;
}

.nav__link-title {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "bebas-neue", sans-serif;
  margin-bottom: 8px;
  line-height: 0.8;
  overflow: hidden;
}

.nav__link-desc {
  display: block;
  font-size: 12px;
}
/*btn*/
.nav-btn {
  position: fixed;
  z-index: 101;
  bottom: 24px;
  left: 24px;
  width: 36px;
  height: 36px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
.nav_btn_phone{
	display: none;
}
.burger {
  width: 36px;
  height: 36px;
}

.burger__stroke {
  stroke: white;
}

.burger__plus {
  fill: #1cb5e0;
}
/**/
.nav__bg {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  will-change: auto;
  pointer-events: none;
  visibility: hidden;
}

.nav__bg-mask-rect {
  will-change: transform;
}
.header_logo {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 72px);
  display: block;
  width: 144px;
  height: auto;
  will-change: transition;
  visibility: hidden;
}
/*导航结束*/
body{
	color: #fff;
	width: 100%;
	overflow-x: hidden;
}
.container{
	font-family: Giorgios, "Arial", sans-serif;
	position: absolute;
	width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slide_img{
	position: absolute;
    width: 100%;
    height: 100%;
}
#slide_img_1{
	background: url(/source/img/computerbg.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_2{
	background: url(/source/img/secai2.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_3{
	background:url(/source/img/computerbg2.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_4{
	background:url(/source/img/contact.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.slide_img_shade{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.mov{
	-webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.slide_current{
	 opacity: 1;
	 z-index: 1;
}
.opacity0{
	 opacity: 0;
}
.trx1{
	transform: translateX(-100%);
}
.trx2{
	transform: translateX(0);
}
.trx3{
	transform: translateX(100%);
}

.main_title{
	position: fixed;
	font-size: 20vh;
	margin-left: 1%;
	letter-spacing: 5px;
	font-weight: bold;
	color: #FFF;
	font-family: impact;
	line-height: 1;
	top: 2vh;
	/*border-bottom: 1px solid #484A40;*/
}
.main_title > span{
	width: 100%;
}
.bac_title{
	background: #ff4e00;
    position: fixed;
    width: 100%;
    z-index: -1;
    left: 0px;
    top: 11vh;
    height: 10vh;
}
.content{
	height: 100%;
	position: fixed;
	overflow: hidden;
}
.work_content{
	top: 28vh;
	left : calc(100vw - 1060px);
}
.prose_content{
	top: 28vh;
	left : calc(100vw - 1060px);
}
.book_content{
	top: 28vh;
	left : calc(100vw - 1325px);
}
.contact_content{
	width: 100%;
	top: 30vh;
}
.contact_list{
	float: left;
	width: 48%;
}
/*.kindle_box{
	position: absolute;
	height: calc(65vh + 64px);
	width: 300px;
	top: 140px;
	left:50%;
	margin-left: -150px;
	background: url(/source/img/kindle.png) no-repeat ;
	background-size: 100%;
}*/
.svg_font{
	position: fixed;
	top: 81vh;
	left: -50px;
}
.btnGroup{
    position: fixed;
    right: 20px;
    top: 92vh;
    font-size: 18px;
    letter-spacing: 8px;
}
.next , .prev{
	margin-left: 30px;
    transition: all 150ms linear 0s;
    cursor: pointer;
    float: left;
}
.zhx{
	 text-decoration:line-through; 
}
.next:hover, .next:active ,.prev:after, .prev:before  {
	transition: all 150ms linear 0s;
}
.next:after, .next:before, .prev:after, .prev:before  {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}
.next:hover:after, .next:hover:before , .prev:hover:after, .prev:hover:before   {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color: #fff;
	-webkit-transition: width 350ms ease-in-out;
	transition: width 350ms ease-in-out;
	width: 100%;
}
.post_list_false{
	width: 0;
	height: 0;
	display: none;
}
.work_list{
   width: 1060px;	
}
.prose_list{
   width: 1060px;
}
.book_list{
	width: 1325px;
}
.post_list{
	position: relative;
	float: left;
	right: 0px;
	transition: all 0.4s ease-in-out ;
	-o-transition: all 0.4s ease-in-out; 
	-moz-transition: all 0.4s ease-in-out ; 
	-webkit-transition: all 0.4s ease-in-out ;

}
.work_list > li{
    width: 265px;
    padding: 25px;
    height: calc(60vh - 64px);
	border-right:1px solid #000;
}
.prose_list > li{
	width: 265px;
    padding: 25px;
    height: calc(60vh - 64px);
    border-right:1px solid #000;
}
.book_list > li{
	width: 265px;
    height: calc(60vh - 64px);
    border-right:1px solid #000;
}
.post_img_box{
	position: absolute;
	width: 100%;
	height: 100%;
}
.post_img_box > img{
	width: 100%;
	height: 100%;
}
.book_post_text{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 25px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #fff;
}
.post_list > li{
	float: left;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.4s ease-in-out ;
	-o-transition: all 0.4s ease-in-out; 
	-moz-transition: all 0.4s ease-in-out ; 
	-webkit-transition: all 0.4s ease-in-out ;
}
.move_opacity{
	opacity: 0.4  !important;
}
.post_message{
	position: relative;
	width: 100%;
	font-size: 8vh;
	color: #333;
	line-height: 0.9;
	text-align:right;
}
/*.book_post_message{
	color: #fff;
}*/
.post_title{
	position: relative;
	display: block;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	margin-top:70px;
}
/*.book_post_title{
	color: #fff !important;
}*/
.post_title > a{
	font-size: 14px;
	color: #333;
	line-height: 10px;
	font-family: "Arial";
	font-weight: normal;
}
.more_icon{
	position: absolute;
	font-weight: normal !important;
	width: 14px;
	height: 14px;
	bottom: 15px;
	right: 15px;
	color: #828282;
}
.email{
	margin-left: 1%;
}
.email  h3{
	margin-top: 10px;
	font-size: 8vh;
}
.explain{
	font-size: 1.6vh;
}
.wechat_h3{
	font-size: 6vh !important;
}
.phone_post_message{
	display: none;
}
.details{
	display: none;
}
.phone_message{
	display: none;
}
.logo{
  display: none;
}
.phone_btn_close{
  display: none;
}

}  
/*<479px*/
@media only screen and (max-width: 479px){
@font-face{
font-family: dayfont;
src: url('../img/zt/impact.ttf'),
     url('../img/zt/impact.eot'); /* IE9+ */
}
body{
  background-image:url(../img/h_bg.jpg);
  background-size: 50%;
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/h_bg.jpg);
  background-size: 50%;
}
/*导航*/
.nav {
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  opacity: 0;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;  
  -webkit-transition: opacity 0.3s; 
  -o-transition: opacity 0.3s;
  visibility: hidden;
}
._opacity1{
  visibility: visible;
  opacity: 1 !important;
}
.nav__item{
  opacity: 0;
  transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;  
  -webkit-transition: opacity 0.6s; 
  -o-transition: opacity 0.6s;
}
.nav__list{
    position: relative;
    width: 100%;
    top: 10%;
}
.nav__item{
  padding: 15px;
  position: relative;
  left: 10%;
  font-family: dayfont;
}
.nav__link{
  color: #7de87d;
  font-weight: bolder;
}
.nav__link-desc{
  font-size: 12px;
}
.phone_btn_close{
  font-family: '微软雅黑';
  color: #7de87d;
  font-size: 48px;
}
.nav__bg{
  display: none;
}
/*导航结束*/
/*btn*/
.nav-btn {
  position: fixed;
  z-index: 101;
  top: 24px;
  right: 24px;
  width: 36px;
  height: 36px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
.burger {
  width: 36px;
  height: 36px;
}

.burger__stroke {
  stroke: white;
}

.burger__plus {
  fill: #1cb5e0;
}
/**/
.nav__bg {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  will-change: auto;
  pointer-events: none;
  visibility: hidden;
}

.nav__bg-mask-rect {
  will-change: transform;
}
.header_logo {
  display: none;
/*  position: absolute;
  bottom: 50px;
  left: calc(50% - 72px);
  display: block;
  width: 144px;
  height: auto;
  will-change: transition;
  visibility: hidden;*/
}

.phone_title{
	width: 100%;
    height: 70px;
    position: fixed;
    background: #212121;
    z-index: 2;
}
.svg_phone_logo{
	position: relative;
  top: 16px;
  width: 105px;
}
.slide_img{
	position: absolute;
	width: 50%;
	left: 50%;
	top: 70px;
	height: 110px;
}
.post_list_false{
	width: 0;
	height: 0;
	display: none;
}
#slide_img_1{
	background: url(/source/img/computerbg.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_2{
	background: url(/source/img/secai2.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_3{
	background:url(/source/img/computerbg2.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#slide_img_4{
	background:url(/source/img/contact.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.title_box{
	position: absolute;
	width: 50%;
	top: 70px;
	height: 110px;
    background: #7de87d;
    text-align: right;
}
.phone_message{
	font-size: 10px;
}
.phone_message > span{
	display: block;
}
.content{
	position: relative;
	top: 180px;
  width: 100% !important;
  overflow-x: hidden;
}
.post_list > li{
	position: relative;
	height: 110px;
	width: 100%;
    border-bottom: 1px solid #333;
}
.main_title{
	position: absolute;
	font-size: 4rem;
  color: #282727;
  font-family: dayfont;
  right: 10px;
}
.gray { 
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;  /* IE 6-9 */  
}
.day{
	position: absolute;
	font-family: dayfont;
	font-size: 4.5rem;
	left: 16px;
	color: #777777;
}
.year{
	position: absolute;
	font-size: 8px;
	color: #777777;
	top: 52px;
	left: 16px;
}
.post_title{
    position: absolute;
    top: 65px;
    font-size: 12px;
    color: #777777;
    left: 16px;	
}
.post_title > a{
	color: #777777;
}
.more_icon{
	position: absolute;
  top: 77px;
  right: 16px;
  color: #777777;
}
.details{
	position: absolute;
	color: #777777;
	left: 16px;
	font-size: 8px;
	top: 85px;
}
.contact_content{
	padding: 20px;
	color: #777777;
}
.explain {
  width: 90%;
	margin-top: 20px;
	font-size: 12px;
}
._overflow_hidden{
  overflow: hidden;
}
.nav_btn_phone{
  position: fixed;
  z-index: 101;
  top: 10px;
  right: 10px;
  width: 60px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
.svg_menu_phone{
	fill:none;
	stroke:#777777;
	stroke-width:8;
	stroke-miterlimit:10;
}
.svg_logo_phone_fill{
	fill:#7de87d;
}
.svg_logo_phone_stroke{
	stroke:#7de87d;
}
.post_message{
	display: none;
}
.svg_font{
	display: none;
}
.btnGroup{
	display: none;
}
.nav-btn{
	display: none;
}
}
