{% include _partial/head.html %}
 <body>
   <div class="container">
       <header>
          {% include _partial/header.html %}
      </header> 
       <div class="content_box">
          <div class="content" >
            <div class="post_content">
                <div class="content_title">
                  <h1>{{page.title}}</h1><span id="busuanzi_container_page_pv">
                  <span><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y年%m月%d日" }}</time></span>
                </div>
                  {{ content }}
               <!-- 来必力City版安装代码 -->
                <div id="lv-container" data-id="city" data-uid="MTAyMC80MDQ4OS8xNzAxNg==">
                <script type="text/javascript">
                 (function(d, s) {
                     var j, e = d.getElementsByTagName(s)[0];

                     if (typeof LivereTower === 'function') { return; }

                     j = d.createElement(s);
                     j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                     j.async = true;

                     e.parentNode.insertBefore(j, e);

                 })(document, 'script');
                </script>
                <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                </div>
                <!-- City版安装代码已完成 -->
            </div>
          </div>
       </div>
    </div>
  </body>
  <script src="/source/js/highlight.min.js"></script>
  <script type="text/javascript" src="/source/js/jquery.js"></script>
  <script type="text/javascript" src="/source/js/index.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    $(document).ready(function(){
      $('.chakan').on('click',function(){
         $('#uyan_frame').toggleClass('show');
      });
    })
     window.onload = function () {
          var test = document.getElementsByTagName("iframe");
          console.log(test);
      };
  </script>
</html>