{% include _partial/head.html %}
 <body>
   <div class="container">
       <header>
          {% include _partial/header.html %}
      </header> 
       <div class="content_box">
          <div class="content" >
            <div class="post_content">
                <div class="doubleMenuList">
                    <ul>
                      {% for post in site.categories.es6 %}
                      <li>
                        <div>
                          <div class="post_title">
                          <a class="post-link" href="{{ post.url }}" data-post-href="{{ post.url }}">{{ post.title }}</a>
                          </div>
                        </div>
                      </li> 
                      {% endfor %}
                    </ul>
                </div>
                <div class="doubleMenuContent">
                  <div class="content_title">
                    <h2>{{page.title}}</h2>
                    <span id="busuanzi_container_page_pv">
                    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y年%m月%d日" }}</time>
                    </span>
                  </div>
                   {{ content }}
                </div>
            </div>
          </div>
       </div>
    </div>
  </body>
  <script src="/source/js/highlight.min.js"></script>
  <script type="text/javascript" src="/source/js/jquery.js"></script>
  <script type="text/javascript" src="/source/js/index.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</html>