---
layout: default
---
<div class="container" id="container_3">
      {% include _partial/logo_title.html %}
      <div class="slide_img gray" id="slide_img_3"><div class="slide_img_shade"></div></div>
      <div class="title_box">
        <h2 class="main_title">
          <span>BOOKS</span>
          <div class="phone_message">
            <span>My book list</span>
            <span>Details&nbsp;<i class="fa fa-book" aria-hidden="true"></i></span></span>
          </div>
        </h2>
      </div>
      <div class="content book_content" id="content_3">
        <div class="post_list_false" id="post_list_false_3">
          {% for post in site.categories.book %}
          <li>
           <!--  <div class="post_img_box">
              <img class="gray noie" src=" {{ post.imgs }} " filter="url(#grayscale)">
              <span class="alpha_img"></span>
            </div> -->
            <div class="post_text book_post_text">
              <div>
              <div class="post_message book_post_message">
                <span><time datetime="{{ post.date | date:"%Y-%m-%d" }}"><span class="day">{{ post.date | date:"%m`%d" }}</span><br>
                <span class="year">{{ post.date | date:"%Y" }}</span>
                </time></span>
              </div>
              <div class="phone_post_message">
                <span>
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">
                    <span class="day">{{ post.date | date:"%d" }}</span>
                    <span class="year">{{ post.date | date:"%Y.%m" }}</span>
                 </time>
                </span>
              </div>
             <!--  <div style="color: #000"> {{forloop.index}}</div> -->
              <span class="post_title"><a class="post-link book_post_title" href="{{ post.url }}" data-post-href="{{ post.url }}">{{ post.title}}</a></span>
              <span class="details">Details&nbsp;<i class="fa fa-book" aria-hidden="true"></i></span>
              </div>
              <div>
                <i class="more_icon fa fa-plus" aria-hidden="true"></i>
              </div>
              <div class="post-excerpt" itemprop="description">
                <!-- <p class="yl">{{ post.description }}</p> -->
                <!--<p class="yl">{{ post.content | strip_html | truncatewords: 0 }}</p>-->
                <!--<p class="ydqw"><a href="{{ post.url }}">阅读全文...</a></p>-->
              </div>
            </div>
          </li>
          {% endfor %}
        </div>
      </div>
<div class="btnGroup">
  <span class="book_prev prev">PREV</span>
  <span class="book_next next">NEXT</span>
</div>
</div>